<template>
    <div>
        <!--Menu-->
        <div class="menu">
            <div class="container">
                <nav class="navbar navbar-fixed-top">
                    <div class="container" >
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarcollapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarcollapse">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <router-link to="/" :exact="true">
                                            <h5><span class="fa fa-home fa-lg"></span> Home</h5>
                                        </router-link>
                                    </li>
                                    <li>
                                        <router-link to="#mapsection">
                                            <h5><span class="fa fa-map fa"></span> Map</h5>
                                        </router-link>
                                    </li>                
                                    <li>
                                        <router-link to="#chartsection">
                                            <h5><span><i class="fa fa-bar-chart fa"></i></span> Charts</h5>
                                        </router-link>
                                    </li>
                                    <li>
                                        <router-link to="#datasection">
                                            <h5><span class="fa fa-database fa"></span> Data</h5>
                                        </router-link>
                                    </li>
                                    <li>
                                        <router-link to="#trendssection">
                                            <h5><span class="fa fa-line-chart fa"></span> Trends</h5>
                                        </router-link>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <form class="navbar-form navbar-right" @click.prevent="">
                            <div class="form-group">
                                <label for="typhoon"><span class="fa fa-search"></span> Select Typhoon </label>
                                <select id="typhoon" class="form-control" v-model="selectedTyphoon" required>
                                        <option v-for="item in typhoons" v-bind:value="item">
                                            {{ item.name }}
                                        </option>
                                </select>                                
                            </div>
                        </form>                    
                    
                    </div>                           

                </nav>     
            </div> 
        </div>

        <!--Header-->
        <div class="header">
            <div class="container">
                <div class="text-center">
                    <img src="../images/mdrrmclogo.png">
                    <img src="../images/stodomingo.png">
                </div>
                <div class="text-center">
                    <h2>Typhoon Risk Analysis</h2>
                    <h4>Municipal Disaster Risk Reduction Management Council</h4>
                    <h4>Sto. Domingo Albay</h4>
                </div>                
            </div>
        </div>

        <!--Features-->
        <div class="features">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-2 text-center">
                        <span class="fa fa-info-circle fa-3x"></span>
                        <h4>Damage Summary</h4>
                        <h5>Get a quick summary of the effect of the typhoon</h5>
                    </div>                    
                    <div class="col-md-2 text-center">
                        <span class="fa fa-map fa-3x"></span>
                        <h4>Risk Map</h4>
                        <h5>Know the location of the risk areas</h5>
                    </div>
                    <div class="col-md-2 text-center">
                        <span class="fa fa-bar-chart fa-3x"></span>
                        <h4>Graphs</h4>
                        <h5>View visual insights of damages of disaster</h5>
                    </div>
                    <div class="col-md-2 text-center">
                        <span class="fa fa-line-chart fa-3x"></span>
                        <h4>Risk Trends</h4>
                        <h5>Find association patterns of damages</h5>
                    </div>                       
                </div>
            </div>  
        </div>
        
        <!--Summary-->
        <div class="summary">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="section">
                        <span class="fa fa-info-circle fa-3x"></span>
                        <h3 class="inline-section"><strong>SUMMARY</strong></h3>
                        <hr/>
                    </div>                    
                    <div class="col-md-3">
                        <div class="card text-center">
                            <span id="populationIcon" class="fa fa-users fa-3x inline-section"> </span>
                            <h1 class="inline-section">{{ model.riskMapSummary.population }}</h1>
                            <div class="title">
                                <h4>Affected Populations</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center">
                            <span id="propertiesIcon" class="fa fa-building fa-3x inline-section"> </span>
                            <h1 class="inline-section">{{ model.riskMapSummary.properties }} </h1>
                            <div class="title">
                                <h4>Damage on Properties</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center">
                            <span id="lifelinesIcon" class="fa fa-life-ring fa-3x inline-section"></span>
                            <h1 class="inline-section"> {{ model.riskMapSummary.lifelines }} </h1>
                            <div class="title">
                                <h4>Damage on Lifelines</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center">
                            <span id="agricultureIcon" class="fa fa-leaf fa-3x inline-section"> </span>
                            <h1 class="inline-section">{{ model.riskMapSummary.agriculture }} </h1>
                            <div class="title">
                                <h4>Damage on Agriculture</h4>
                            </div>
                        </div>
                    </div>     
                </div>
            </div>
        </div>

        <!--Risk Map-->
        <div class="riskmap">
            <!--Filter and Info-->
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="section">
                        <span class="fa fa-map fa-2x"></span>
                        <h3 class="inline-section"><strong>RISK MAP</strong></h3>
                        <hr/>
                    </div>                    
                    <div class="row">
                        <div class="container">
                        <div class="form-inline">
                            Show Marker:
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="population" v-model="markerPopulationSelected">
                                </label>
                            </div>
                            Population

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="properties" v-model="markerPropertiesSelected">
                                </label>
                            </div>
                            Properties

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="lifelines" v-model="markerLifelinesSelected">
                                </label>
                            </div>
                            Lifelines

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="agriculture" v-model="markerAgricultureSelected">
                                </label>
                            </div>
                            Agriculture
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Map-->
            <div class="row">
                <img id="testimage" ref="testimage"/>
                <div class="col-md-offset-1 col-md-10">
                    <div id="mapid" ref="mapid"></div>
                </div>
            </div>
        </div>

        <!--Charts-->
        <div class="charts">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="section">
                        <span class="fa fa-bar-chart fa-2x"></span>
                        <h3 class="inline-section"><strong>CHARTS</strong></h3>
                        <hr/>
                    </div>                    
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Affected Populations</h4>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <canvas id="mapPopulations" ref="mapPopulations" height="100px"></canvas>
                                </div>
                            </div>                        
                        </div>
                        <div class="col-md-6">
                            <h4>Damage on Lifelines</h4>
                            <div class="panel panel-default">
                                    <div class="panel-body">
                                        <canvas id="mapLifelines" ref="mapLifelines" height="100px"></canvas>
                                    </div>
                                </div>                          
                        </div>                    
                    </div>
                    <div class="row">
                            <div class="col-md-6">
                                <h4>Damage on Properties</h4>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <canvas id="mapProperties" ref="mapProperties" height="100px"></canvas>
                                    </div>
                                </div>                        
                            </div>
                            <div class="col-md-6">
                                <h4>Damage on Agriculture</h4>
                                <div class="panel panel-default">
                                        <div class="panel-body">
                                            <canvas id="mapAgriculture" ref="mapAgriculture" height="100px"></canvas>
                                        </div>
                                    </div>                          
                            </div>                    
                        </div>                

                </div>
            </div>
        </div>

        <!--Data-->
        <div class="data">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="section">
                        <span class="fa fa-database fa-2x"></span>
                        <h3 class="inline-section"><strong>DATA</strong></h3>
                        <hr/>
                    </div>                      
                    <strong><h4>Affected Population</h4></strong>
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Displaced/Evacuated</strong>                                      
                            <table class="table table-striped table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <th>Entity</th>
                                        <th>Barangay</th>
                                        <th class="text-center">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in model.displacedEvacuated">
                                        <td>{{ item.entityName }}</td>
                                        <td>{{ item.barangay }}</td>
                                        <td class="text-center">{{ item.total }}</td>
                                    </tr>                                                                                                                                                                                                                                 
                                </tbody>
                            </table>                                  
                        </div>
                        <div class="col-md-6">
                            <strong>Casualties</strong>                                      
                            <table class="table table-striped table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <th>Entity</th>
                                        <th>Barangay</th>
                                        <th class="text-center">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in model.casualties">
                                        <td>{{ item.entityName }}</td>
                                        <td>{{ item.barangay }}</td>
                                        <td class="text-center">{{ item.total }}</td>
                                    </tr>                                                                                                                                                                                                                                                                      
                                </tbody>
                            </table>                                                          
                        </div>
                        
                    </div>
                    <strong><h4>Damaged Properties</h4></strong>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <th>Structures</th>
                                        <th>Barangay</th>
                                        <th class="text-center">Totally Damaged</th>
                                        <th class="text-center">Critically Damaged</th>
                                        <th class="text-center col-md-2">Estimated Cost</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in model.damagedProperties">
                                        <td>{{ item.entityName }}</td>
                                        <td>{{ item.barangay }}</td>
                                        <td class="text-center">{{ item.totallyDamaged }} {{ item.totallyDamagedUnit }}</td>
                                        <td class="text-center">{{ item.criticallyDamaged }} {{ item.criticallyDamagedUnit }}</td>
                                        <td class="text-center">{{ item.estimatedCost }}</td>
                                    </tr>                                                                                                                                                                                                 
                                </tbody>

                            </table>                                  
                        </div>                     
                    </div>       
                    <strong><h4>Damaged Lifelines</h4></strong>
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Transportation Facilities</strong>
                            <table class="table table-striped table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <th>Facility</th>
                                        <th>Description</th>
                                        <th>Location</th>
                                        <th class="text-center">Passable</th>
                                        <th class="text-center">Not Passable</th>
                                        <th class="text-center">Length(km)</th>
                                        <th class="text-center col-md-2">Estimated Cost</th> 
                                    </tr>                                
                                </thead> 
                                <tbody>
                                    <tr v-for="item in model.transportation">
                                        <td>{{ item.entityName }}</td>
                                        <td>{{ item.description }}</td>
                                        <td>{{ item.barangay }}</td>
                                        <td class="text-center"> 
                                            <span v-if="item.isPassable" class="fa fa-check"></span> 
                                        </td>
                                        <td class="text-center"> 
                                            <span v-if="!item.isPassable" class="fa fa-check"></span> 
                                        </td>                                                                                
                                        <td class="text-center">{{ item.lengthKM }}</td>
                                        <td class="text-center">{{ item.estimatedCost }}</td>
                                    </tr>                                                                                                                                                                                                                                                                                                                                                                           
                                </tbody>                                                       
                            </table>                                  
                        </div>                     
                    </div>   
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Communication Facilities</strong>
                            <table class="table table-striped table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <th>Facility</th>
                                        <th>Location</th>
                                        <th class="text-center">Operational</th>
                                        <th class="text-center">Non Operational</th>
                                        <th class="text-center">Number</th>
                                        <th class="text-center col-md-2">Estimated Cost</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in model.communication">
                                        <td>{{ item.entityName }}</td>
                                        <td>{{ item.barangay }}</td>
                                        <td class="text-center"> 
                                            <span v-if="item.isOperational" class="fa fa-check"></span> 
                                        </td>
                                        <td class="text-center"> 
                                            <span v-if="!item.isOperational" class="fa fa-check"></span> 
                                        </td>                                                                                
                                        <td class="text-center">{{ item.total }}</td>
                                        <td class="text-center">{{ item.estimatedCost }}</td>
                                    </tr>                                                                                                                                                                                                                                                                                                                                                                          
                                </tbody>                                                       
                            </table>                                  
                        </div>                     
                    </div>   
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Electrical Facilities</strong>
                            <table class="table table-striped table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <th>Facility</th>
                                        <th>Location</th>
                                        <th class="text-center">Operational</th>
                                        <th class="text-center">Non Operational</th>
                                        <th class="text-center">Number</th>
                                        <th class="text-center col-md-2">Estimated Cost</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in model.electrical">
                                        <td>{{ item.entityName }}</td>
                                        <td>{{ item.barangay }}</td>
                                        <td class="text-center"> 
                                            <span v-if="item.isOperational" class="fa fa-check"></span> 
                                        </td>
                                        <td class="text-center"> 
                                            <span v-if="!item.isOperational" class="fa fa-check"></span> 
                                        </td>                                                                                
                                        <td class="text-center">{{ item.total }}</td>
                                        <td class="text-center">{{ item.estimatedCost }}</td>
                                    </tr>                                                                                                                                                                                                                                                                                                                                                                          
                                </tbody>                                                      
                            </table>                                  
                        </div>                     
                    </div>  
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Water Facilities</strong>
                            <table class="table table-striped table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <th>Facility</th>
                                        <th>Location</th>
                                        <th class="text-center">Operational</th>
                                        <th class="text-center">Non Operational</th>
                                        <th class="text-center">Number</th>
                                        <th class="text-center col-md-2">Estimated Cost</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in model.waterFacilities">
                                        <td>{{ item.entityName }}</td>
                                        <td>{{ item.barangay }}</td>
                                        <td class="text-center"> 
                                            <span v-if="item.isOperational" class="fa fa-check"></span> 
                                        </td>
                                        <td class="text-center"> 
                                            <span v-if="!item.isOperational" class="fa fa-check"></span> 
                                        </td>                                                                                
                                        <td class="text-center">{{ item.total }}</td>
                                        <td class="text-center">{{ item.estimatedCost }}</td>
                                    </tr>                                                                                                                                                                                                                                                                                                                                                                          
                                </tbody>                                                  
                            </table>                                  
                        </div>                     
                    </div>                                                
                    <strong><h4>Damaged Agriculture</h4></strong>   
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Crops</strong>
                            <table class="table table-striped table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <th>Crops</th>
                                        <th>Location</th>
                                        <th class="text-center">Areas Damaged/Losses<br>(No. of Hectares)</th>
                                        <th class="text-center">Metric Tons</th>
                                        <th class="text-center col-md-2">Estimated Cost</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in model.crops">
                                        <td>{{ item.entityName }}</td>
                                        <td>{{ item.barangay }}</td>
                                        <td class="text-center">{{ item.areaDamaged }}</td>
                                        <td class="text-center">{{ item.metricTons }}</td>
                                        <td class="text-center">{{ item.estimatedCost }}</td>
                                    </tr>                                                         
                                </tbody>                                                  
                            </table>                                  
                        </div>    
                        <div class="col-md-12">
                            <strong>Fisheries</strong>
                            <table class="table table-striped table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <th>Fisheries</th>
                                        <th>Location</th>
                                        <th class="text-center">Areas Damaged/Losses<br>(No. of Hectares)</th>
                                        <th class="text-center">Metric Tons</th>
                                        <th class="text-center col-md-2">Estimated Cost</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in model.fisheries">
                                        <td>{{ item.entityName }}</td>
                                        <td>{{ item.barangay }}</td>
                                        <td class="text-center">{{ item.areaDamaged }}</td>
                                        <td class="text-center">{{ item.metricTons }}</td>
                                        <td class="text-center">{{ item.estimatedCost }}</td>
                                    </tr>                                                                                     
                                </tbody>                                             
                            </table>                                  
                        </div>    
                        <div class="col-md-12">
                            <strong>Livestock, Poultry and Fowl</strong>
                            <table class="table table-striped table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <th>Animals</th>
                                        <th>Barangay</th>
                                        <th class="text-center">No. of Heads</th>
                                        <th class="text-center col-md-2">Estimated Cost</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in model.livestocks">
                                        <td>{{ item.entityName }}</td>
                                        <td>{{ item.barangay }}</td>
                                        <td class="text-center">{{ item.total }}</td>
                                        <td class="text-center">{{ item.estimatedCost }}</td>
                                    </tr>    
                                </tbody>                                            
                            </table>                                  
                        </div>                                                          
                    </div>      
                </div>                                                   
            </div>
        </div>

        <!--Risk Trends-->
        <div class="risktrends">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="section">
                        <span class="fa fa-line-chart fa-2x"></span>
                        <h3 class="inline-section"><strong>RISK TRENDS</strong></h3>
                    </div>
                    <!--Filter and Info-->

                    <div class="row">
                        <div class="form">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="section">Section</label>
                                    <select id="section" class="form-control" v-model="selectedSection" required>
                                        <option v-for="item in sections" v-bind:value="item.id">
                                            {{ item.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <select id="category" class="form-control" v-model="selectedCategory">
                                        <option v-for="item in categories" v-bind:value="item.id" v-if="item.linkId == selectedSection">
                                            {{ item.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="support">Support %</label>
                                    <input type="number" class="form-control" id="support" v-model="supportPercentage">
                                </div>
                            </div>

                            <div class="col-xs-2">
                                <button type="button" class="btn btn-success btn-generate" @click="onGenerateTrends"><span class="fa fa-play-circle"></span> Generate</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" v-model="showSteps">View Steps
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row" v-for="level of riskTrends.supportEnd" v-if="showSteps">
                        <div class="col-md-12">
                            <h4><strong>Step</strong> <span class="badge">{{ level }}</span></h4>
                            <hr />
                            <table class="table table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Barangay</th>
                                        <th class="text-center col-md-3">Support</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in getRiskTrendsSupport(level)">
                                        <td>{{ item.barangay }} {{ $index }}</td>
                                        <td class="text-center">{{ item.supportPercentage }}%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <h4><strong>Association Rules</strong></h4>
                            <hr />
                            <br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Barangay(s) X</th>
                                        <th>Barangay(s) Y</th>
                                        <th class="text-center">Support</th>
                                        <th class="text-center">Confidence</th>
                                        <th class="text-center">Lift</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in riskTrends.riskTrendsRules">
                                        <td>{{ item.ruleXBarangay }}</td>
                                        <td>{{ item.ruleYBarangay }}</td>
                                        <td class="text-center">{{ item.support }}%</td>
                                        <td class="text-center">{{ item.confidence }}%</td>
                                        <td class="text-center">{{ item.lift }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Footer-->
        <div class="footer">
                <div class="container">            
                    <h6>&copy; Typhoon Risk. All Rights Reserved.</h6>
                    <h6>A capstone project for Masters in Information Technology</h6>
                    <h6>University of Cordilleras</h6>
                    <div>
                        <a href="">Home |</a> 
                        <a href="">Map |</a> 
                        <a href="">Charts |</a> 
                        <a href="">Data |</a> 
                        <a href="">Trends </a> 
                    </div>
                </div>
            </div>        
        </div>
</template>

<style src="./home.css"></style>
<script src="./home.ts"></script>