<template>
    <div>
        <h1>Category Form</h1>
        
        <form @submit.prevent="">
            <div class="form-group">
                <label for="barangayName">Name:</label>
                <input type="text" class="form-control" id="barangayName" v-model="vm.Model.name">
            </div>
            <button class="btn btn-default" @click="onSave">Save</button>
            <button class="btn btn-default" @click="onCancel">Cancel</button>
        </form> 
    </div>
 
</template>

<script src="./form.ts"></script>
