<template>
    <div class="login">
        <div class="row">
            <div class="col-md-offset-5">
                <h2>User Authentication</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-1">
                <img src="../images/login.png" width="90">
            </div>    
            <div class="col-md-3">
                <form @submit.prevent="">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter username" v-model="username">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" v-model="password">
                    </div>
                    <button class="btn btn-primary" @click="onLogin">Submit</button>
                    <button class="btn btn-primary" @click="onCancel">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</template>

<style src="./login.css" />
<script src="./login.ts"></script>
