<template>
  <div>
    <!-- Modal -->
    <div class="modal" v-bind:class="{ show: showForm, fade: !showForm }" id="myModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" @click="close">&times;</button>
            <h4 class="modal-title"><span class="fa fa-pencil-square-o"></span> Properties Assessment</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                    <label for="entity">Entity</label>
                    <select id="entity" class="form-control input-sm" v-model="model.structure" required>
                        <option v-for="item in structuresLookUp" v-bind:value="item">
                            {{ item.name }}
                        </option>
                    </select>
                </div>            
                <div class="form-group">
                    <label for="barangay">Barangay</label>
                    <select id="barangay" class="form-control input-sm"  v-model="model.barangay" required>
                        <option v-for="item in barangaysLookUp" v-bind:value="item">
                            {{ item.name }}
                        </option>
                    </select>
                </div>  
                <div class="form-group">
                  <label for="totallyDamaged">Totally Damaged</label>
                  <input type="number" class="form-control input-sm" id="totallyDamaged" v-model="model.totallyDamaged" required>
                </div>                
                <div class="form-group">
                  <label for="totallyDamagedUnit">Totally Damaged Unit</label>
                  <input type="text" class="form-control input-sm" id="totallyDamagedUnit" v-model="model.totallyDamagedUnit" required>
                </div>                        
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label for="criticallyDamaged">Critically Damaged</label>
                  <input type="number" class="form-control input-sm" id="criticallyDamaged" v-model="model.criticallyDamaged" required>
                </div>                
                <div class="form-group">
                  <label for="criticallyDamagedUnit">Critically Damaged Unit</label>
                  <input type="text" class="form-control input-sm" id="criticallyDamagedUnit" v-model="model.criticallyDamagedUnit" required>
                </div>                                                              
                <div class="form-group">
                    <label for="total">Estimated Cost</label>
                    <input type="number" class="form-control input-sm" id="total" v-model="model.estimatedCost" required>
                </div>    
              </div>
            </div>               
            <div class="modal-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-success btn-entry" @click="save"><span class="fa fa-floppy-o"></span> Save</button>
                    <button type="button" class="btn btn-danger btn-entry" @click="close"><span class="fa fa-times"></span> Close</button>
                  </div>  
                </div>       
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script src="./properties.ts"></script>
