<template>
  <div>
    <!-- Modal -->
    <div class="modal" v-bind:class="{ show: showForm, fade: !showForm }" id="myModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" @click="close">&times;</button>
            <h4 class="modal-title"><span class="fa fa-pencil-square-o"></span> Communication Facilities Assessment</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">                 
                <div class="form-group">
                    <label for="entity">Facility</label>
                    <select id="entity" class="form-control input-sm" v-model="model.facility" required>
                        <option v-for="item in facilitiesLookUp" v-bind:value="item">
                            {{ item.name }}
                        </option>
                    </select>
                </div>                            
                <div class="form-group">
                    <label for="barangay">Barangay</label>
                    <select id="barangay" class="form-control input-sm"  v-model="model.barangay" required>
                        <option v-for="item in barangaysLookUp" v-bind:value="item">
                            {{ item.name }}
                        </option>
                    </select>
                </div>  
                <div class="checkbox">
                  <label>
                    <input type="checkbox" v-model="model.isOperational"> Is Operational?
                  </label>
                </div>                 
                <div class="form-group">
                    <label for="total">Total</label>
                    <input type="number" class="form-control input-sm" id="total" v-model="model.total">
                </div>      
                <div class="form-group">
                    <label for="total">Estimated Cost</label>
                    <input type="number" class="form-control input-sm" id="total" v-model="model.estimatedCost" required>
                </div>                        
              </div>
            </div>               
            <div class="modal-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-success btn-entry" @click="save"><span class="fa fa-floppy-o"></span> Save</button>
                    <button type="button" class="btn btn-danger btn-entry" @click="close"><span class="fa fa-times"></span> Close</button>
                </div> 
            </div>         
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script src="./communication.ts"></script>
