<template>
        <div>
            <div class="modal" v-bind:class="{ show: showForm, fade: !showForm }" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" @click="onCancel">&times;</button>
                        <h4 class="modal-title"><span class="fa fa-pencil-square-o"></span> Category</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6">                 
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" id="name" v-model="vm.Model.name">
                                </div>       
                                <br/>
                                <br/>
                                <br/>              
                            </div>                           
                        </div>               
                        <div class="modal-footer">
                            <div class="btn-group">
                                <button type="button" class="btn btn-success btn-entry" @click="onSave"><span class="fa fa-floppy-o"></span> Save</button>
                                <button type="button" class="btn btn-danger btn-entry" @click="onCancel"><span class="fa fa-times"></span> Close</button>
                            </div> 
                        </div>         
                    </div>
                    </div>
                </div>
            </div>
        </div>
     
    </template>
    
    <script src="./form.ts"></script>
    